@use "src/style/colors";

@mixin icon($translate: (5px, -50%)) {
  transform: translate($translate);
  top: 50%;
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  &::after {
    content: "\e8b6";
    font-family: "Material Symbols Outlined";
    color: colors.$iconColor;
    font-size: 24px;
  }
}