@use '../../style/mixins';
@use '../../style/colors';

.container {
  position: relative;
  padding: 0 70px;
}

.searchIcon {
  @include mixins.icon();

  &::after {
    content: '\e8b6';
  }
}

.closeIcon {
  @include mixins.icon(
    $translate: (
      calc(-100% - 8px),
      -50%
    )
  );

  &:hover {
    background-color: colors.$hover;
  }

  &::after {
    content: '\e5cd';
    top: -1px;
    position: absolute;
    transform: translate(-50%);
  }
}

.searchInput {
  padding-left: 36px;
  padding-right: 36px;
  width: 100%;
  border: 0;
  height: 36px;
  font-family: 'Roboto';
  background: white;
  border-radius: 4px;
  outline: none;
  font-weight: bold;

  &::placeholder {
    color: colors.$secondary;
  }
}
